body {
      font-family: 'Segoe UI', Tahoma, sans-serif;
      background-color: #f5f7ff;
      color: #333;
    }
 h2, h5, h6 {
      font-weight: 600;
      color: #222;
    }

    p {
      font-size: 14px;
      color: #555;
    }

.sidebar {
  height: auto;
  background: #111827;
  color: #fff;
  padding: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  margin: 12px 0;
  text-decoration: none;
}

.sidebar a:hover {
  color: #9ca3af;
}

.feed-card {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}

.btn-signin {
  background: #a78bfa;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  color: white;
}

.fix-height {

  width: auto;
}

.image-container {
  text-align: center;
}

.profile-header {
  background: #e9f0fb;
  padding: 20px;
  border-radius: 10px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.follow-btn {
  background: #a066d3;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
}

.pet-details {
  margin-top: 20px;
}

.detail-card {
  background: #f3f7fe;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.detail-card h6 {
  font-weight: bold;
  margin-bottom: 5px;
}

img.profile-pic.pet-profile {
  width: 20%;
  border-radius: 20px;
  margin:0 10px
}

.no-margin {
  margin: 0 0;
  background: black;
}

.pet-list .list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 12px 0px;
}

.pet-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.pet-info {
  flex-grow: 1;
}

.pet-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.pet-breed {
  font-size: 0.9rem;
  color: #007bff;
}

.btn-view {
  background-color: #f5f8ff;
  color: #007bff;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 15px;
}
.bg-box {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-color: #f5f7fb;
    display: flex;
    align-items: center;
}
.no-style{
  text-decoration: none;
  color: #000;
}
img.icon-in-grid {
    width: 100px !important;
}
.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
li.page-item.next.disabled,li.page-item.last.disabled,li.page-item.prev.disabled,li.page-item.first.disabled {
    padding: 6px 12px;
    border: 1px solid #dee2e6;
    color: #007bff;
    background-color: #d9d0d0;
}
span.dark {
    color: #000;
    font-weight: bolder;
}
